 .page-thele .md-content h2{
     font-size: calc(6px + 3vw);
     font-family: "Montserrat", sans-serif;
     color: #001e6b;
     font-weight: 800;
     margin:0.5rem 0px  0.5rem;
 }
 .page-thele .md-content h3{
      margin:0.5rem 0px  0.5rem;
 }
 .page-thele .md-content h4{
     margin:0.5rem 0px  0.5rem;
     font-size: calc(6px + 2vw);
     font-family: "Montserrat", sans-serif;
     color: #001e6b;
     font-weight: 800;
 }
 .page-thele .md-content{
      padding: 0px 5vw;
 }
 .page-thele .md-content .main-content p{
     margin: 0px 0px 0.2rem;
 }
 .page-thele .md-content .main-content h6{
    margin: 0.5rem 0 0.5rem;
    color: #000;
    font-size: calc(6px + 2vw);
 }
 .page-thele .md-content .main-content p.dot{
    position: relative;
    padding-left: 2vw;
 }
 .page-thele .md-content i{
  display: block;
 }
 .row-l{
  position: relative;
  padding-left: 6vw;
  display: block;
 }
 .row-l span{
  position: absolute;
  left: 0px;
  top: 0px;
 }
 .pd-l{
  padding-left: 5vw;
 }
 .page-thele .md-content .main-content p.dot::before{
  content: "";
  width: calc(1px + 0.9vw);
  height: calc(1px + 0.9vw);
  display: block;
  position: absolute;
  line-height: 1.2em;
  top: calc(1.2vw + 2px);
  left: 0px;
  background: red;
 }
 .table-the-le{
     max-width: 100%;
     max-width: 100%;
     background: #FFF;
     margin: 0px 0px 3vw;

 }
 .table-the-le .table{
   /*  width: 3000px;*/
   width: auto;
   margin-bottom: 0;
 }
 .table-the-le .table td, .table th{
  padding: 0.1vw .75rem;
 }
 .table-the-le .table thead th{
   text-align: center;
   vertical-align: top;
   background: #84d0ff;
 }
 .table-the-le .table td, .table th{
  border: 1px solid #595959;
 }
 .table-the-le .table thead th{
  border-bottom: 1px solid #595959;
 }
 .table-the-le .table tbody tr td{
  text-align: center;
 }
  .table-the-le .table tbody tr:last-child{
     background: #84d0ff;
  }
 .table-the-le .table tbody tr th{
  text-align: center;
 }
  .table-the-le .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{
     height: 0.3rem;
     background: #eeeded;
  }
  .table-the-le .mCSB_horizontal.mCSB_inside > .mCSB_container{
    margin-bottom: 0.5rem;
  }
  .table-the-le .mCSB_scrollTools.mCSB_scrollTools_horizontal{
    height: 0.3rem;
    bottom: 0.5rem;
  }
  .table-the-le .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
     height: 0.3rem;
     background: #bfbebf;
  }
/* .table-the-le .table{

 }*/
 .col-sg1{
  min-width: 20vw;
 }
  .col-sg2{
  min-width: 100vw;
 }
  .col-sg3{

 }
  .col-sg4{
  min-width: 39vw;
 }
  .col-sg5{
  min-width: 20vw;
 }
 @media screen and (min-width: 768px){
    .page-thele .md-content .main-content h6{
       margin: 0.5rem 0 0.5rem;
       color: #000;
       font-size: calc(6px + 1.2vw);
    }
    .pd-l{
      padding-left: 2vw;
    }
    .row-l{
      padding-left: 2vw;
    }
    .page-thele .md-content h4{
      margin: 0.5rem 0px 0.9rem;
    }
    .col-sg1{
     min-width: 18vw;
    }
     .col-sg2{
      min-width: 60vw;
    }
     .col-sg3{

    }
     .col-sg4{
     min-width: 20vw;
    }
     .col-sg5{
     min-width: 17vw;
    }
    .table-the-le .table td, .table th{
      padding: 0.4rem .75rem;
    }
 }