.vasc img{
  width: 100%;
}
.inner-vang{
   animation: inner-vang linear infinite 6s;
 }
 @keyframes inner-vang {
     0% {
      transform:scale3d(1.06,1.06,1.06);
     }

     10% {
      transform:scale3d(.94,.94,.94); 
     }

     20% {
        transform:scale3d(1.06,1.06,1.06);
     }

     30% {
        transform:scale3d(.94,.94,.94); 
     }

     40% {
        transform:scale3d(1.06,1.06,1.06); 
     }
     50%{
        transform:scale3d(.94,.94,.94);
     }
     60%{
        transform:scale3d(1.06,1.06,1.06);
     }
     70%{
        transform:scale3d(.94,.94,.94);
     }
     80%{
        transform:scale3d(1.06,1.06,1.06);
     }
     90%{
        transform:scale3d(.94,.94,.94);
     }
     100%{
        transform:scale3d(1.06,1.06,1.06);
     }
 }
.vong-quay-hl{
  position: absolute;
  width: 34%;
  left: 23%;
  top: 14.5vw;
  animation: vong-quay-hl linear infinite 20s;
  animation-delay: 0s;
}
.limbs{
  position: absolute;
  left: 25%;
  width: 30%;
  top: 32.5vw;
  z-index: 3;
}
.light-hlc9{
  position: absolute;
  width: 17%;
  left: 31.8%;
  top: 23vw;
  z-index: 5;
}
.light-3l29{
  position: absolute;
  width: 14%;
  left: 0%;
  top:4vw;
  z-index: 2;
  animation: light-hl linear forwards 10s;
}

@keyframes vong-quay-hl {
    from {
        transform: rotate(0deg);
    }
  
    to {
       transform: rotate(360deg);
       opacity: 1;
    }
}

.vang-1{
  animation: vang-1 linear forwards 10s;
  position: absolute;
  right: 19%;
  top: 37vw;
  width: 11.5%;
}
@keyframes vang-1 {
    from {
      opacity: 0;
        right: 19%;
        top: 37vw;
        width: 3%;
    }
    22%{
        opacity: 0;
        right: 19%;
        top: 37vw;
        width: 3%;
    }
    27%{
      opacity: 1;
       right: -9%;
       top: 34vw;
       width: 36%;
    }
    30%,40%,50%,60%,70%,80%,90%,100%{
      opacity: 1;
      right: -9%;
      top: 33vw;
      width: 34%;
    }
    35%,45%,55%,65%,75%,85%,95%{
      opacity: 1;
       right: -9%;
       top: 36vw;
       width: 34%;
    }
    100%{
       right: -13%;
       top: 34vw;
       width: 36%;
    }
}


.vang-2{
  animation: vang-2 linear forwards 10s;
  position: absolute;
  right: 0px;
  top: 5vw;
  width: 8%;
}
@keyframes vang-2 {
    from {
        right: 15%;
        top: 14vw;
        width: 4%;
        opacity: 0;
    }
    22% {
      opacity: 0;
        right: 15%;
        top: 14vw;
        width: 4%;
    }
    27%{
      opacity: 1;
       right: 0%;
       top: 6vw;
       width: 23%;
    }
    30%,40%,50%,60%,70%,80%,90%,100%{
      opacity: 1;
       right: 0%;
       top: 5vw;
       width: 24%;
    }
    35%,45%,55%,65%,75%,85%,95%{
       opacity: 1;
       right: 0%;
       top: 7vw;
       width: 22%;
    }
    100%{
       right: 0%;
       top: 6vw;
       width: 23%;
    }
    
}
.vang-3{
  animation: vang-3 linear forwards 10s;
  position: absolute;
  left: 0px;
  top: 5vw;
  width: 10%;
}
@keyframes vang-3 {
    from {
        left: 15%;
        top: 15vw;
        width: 5%;
        opacity: 0;
    }
    22% {
      opacity: 0;
        left: 15%;
        top: 15vw;
        width: 5%;
    }
    27%{
      opacity: 1;
       left: -9%;
       top: -2vw;
       width: 24%;
    }
    30%,40%,50%,60%,70%,80%,90%,100%{
       opacity: 1;
       left: -9%;
       top: -1vw;
       width: 25%;
    }
    35%,45%,55%,65%,75%,85%,95%{
     opacity: 1;
       left: -8.5%;
       top: -4vw;
       width: 27%;
    }
    100%{
       left: -9%;
       top: -1%;
       width: 24%;
    }
    
}
.vang-4{
  animation: vang-4 linear forwards 10s;
  position: absolute;
  left: 0px;
  top: 5vw;
  width: 10%;
}
   @keyframes vang-4 {
       from {
           left: 20%;
           top: 35vw;
           width: 0%;
           opacity: 0;
       }
       22% {
         opacity: 0;
           left: 20%;
           top: 35vw;
           width: 0%;
       }
       27%{
         opacity: 1;
          left: 6%;
          top: 18vw;
          width: 17%;
       }
       30%,40%,50%,60%,70%,80%,90%,100%{
          opacity: 1;
          left: 6%;
          top: 18vw;
          width: 18%;
       }
       35%,45%,55%,65%,75%,85%,95%{
        opacity: 1;
          left: 6.5%;
          top: 18vw;
          width: 17%;
       }
      /* 100%{
          left: 6%;
          top: 19%;
          width: 17%;
       }*/
       
   }
.vang-5{
  animation: vang-5 linear forwards 10s;
  position: absolute;
  left: 0px;
  top: 55vw;
  width: 10%;
}
@keyframes vang-5 {
    from {
        left: 12%;
        top: 77vw;
        width: 5%;
        opacity: 0;
    }
    22% {
      opacity: 0;
        left: 12%;
        top: 77vw;
        width: 5%;
    }
    27%{
      opacity: 1;
       left: -14%;
       top: 77vw;
       width: 22%;
    }
    30%,40%,50%,60%,70%,80%,90%,100%{
       opacity: 1;
       left: -14%;
       top: 75vw;
       width: 23%;
    }
    35%,45%,55%,65%,75%,85%,95%{
     opacity: 1;
      left: -14%;
      top: 79vw;
       width: 21%;
    }
    100%{
       left: -14%;
       top: 77vw;
       width: 22%;
    }
    
}
.vang-6{
  animation: vang-6 linear forwards 10s;
  position: absolute;
  right: 0px;
  top: 55vw;
  width: 10%;
}
@keyframes vang-6 {
    from {
      opacity: 0;
        right: 15%;
        top: 95vw;
        width: 3%;
    }
    20%{
        opacity: 0;
        right: 15%;
        top: 95vw;
        width: 3%;
    }
    27%{
      opacity: 1;
       right: -14%;
       top: 95vw;
       width: 25%;
    }
    30%,40%,50%,60%,70%,80%,90%,100%{
       opacity: 1;
       right: -14%;
       top: 94vw;
       width: 26%;
    }
    35%,45%,55%,65%,75%,85%,95%{
     opacity: 1;
       right: -14%;
       top: 96vw;
       width: 24%;
    }
}
.text-1lca{
  position: absolute;
  width: 80%;
  position: absolute;
  top: 58vw;
  left: 10%;
   animation: zoomIn1  linear forwards 10s;
}
@keyframes zoomIn1{
    0%{
      opacity:0;
      transform:scale3d(.3,.3,.3);
    }
    7%{
      opacity:0;
      transform:scale3d(.3,.3,.3);
    }
    11%{
      opacity:1;
      transform:scale3d(1,1,1);
    }
    
    100%{
      opacity:1;
      transform:scale3d(1,1,1);
    }
}
.text-2lca{
  position: absolute;
  width: 80%;
  position: absolute;
  top: 69vw;
  left: 10%;
   animation: zoomIn2 10s;
}
@keyframes zoomIn2{
    0%{
      opacity:0;
      transform:scale3d(.3,.3,.3);
    }
    12%{
      opacity:0;
      transform:scale3d(.3,.3,.3);
    }
    15%{
      opacity:1;
      transform:scale3d(1,1,1);
    }
    57%{
      opacity:1;
      transform:scale3d(1,1,1);
    }
    /*58%{
      opacity:0;
      transform:scale3d(1,1,1);
    }
    60%{
      opacity:1;
      transform:scale3d(1,1,1);
    }
    62%{
      opacity:0;
      transform:scale3d(1,1,1);
    }
    64%{
      opacity:1;
      transform:scale3d(1,1,1);
    }*/
    100%{
      opacity:1;
      transform:scale3d(1,1,1);
    }
}
.text-3lca{
  position: absolute;
  width: 80%;
  position: absolute;
  top: 97vw;
  left: 10%;
  animation: zoomIn3 linear forwards 10s;
}
@keyframes zoomIn3{
    0%{
      opacity:0;
      transform:scale3d(.3,.3,.3);
    }
    16%{
      opacity:0;
      transform:scale3d(.3,.3,.3);
    }
    20%{
      opacity:1;
      transform:scale3d(1,1,1);
    }
    100%{
      opacity:1;
      transform:scale3d(1,1,1);
    }
}

.text-1damb{
  display: none;
}
.voucher-lca{
   animation: voucher linear forwards 10s;
   position: absolute;
   top: 35vw;
   left: 13vw;
   z-index: 15;
   width: 8vw;
}
@keyframes voucher {
    from {
        left: 22vw;
        top: 27vw;
        width: 2%;
        opacity: 0;
    }
    25% {
      opacity: 0;
        left: 22vw;
        top: 27vw;
        width: 2%;
    }
    29%{ 
       left: 13vw;
       top: 30vw;
       width: 10%;
       opacity: 1;
    }
    30%,40%,50%,60%,70%,80%,90%,100%{
      opacity: 1;
       left: 13vw;
       top: 30vw;
       width: 9%;
    }
    35%,45%,55%,65%,75%,85%,95%{
       opacity: 1;
       left: 13vw;
       top: 30vw;
       width: 10%;
    }
}




@media screen and (min-width: 768px){
  .vong-quay-hl{
         width: 23.4%;
         left: 31.5vw;
         top: 16vw;
     }
     .light-hlc9{
        width: 15%;
        left: 35.8vw;
        top: 20vw;
        animation: vong-quay-hl linear infinite; 20s;
        animation-delay: 0s;
     }
     .limbs{
        left: 33.2vw;
        width: 20%;
        top: 28.3vw;
     }
     .light-3l29{
      width: 7vw;
      left: 0%;
      top: 2.3vw;
      z-index: 2;
      animation: light-hl linear forwards 10s;
     }
     @keyframes light-hl {
         from {
             left: 20%;
             opacity: 0;
         }
         30%{
           left: 20%;
           opacity: 0;
         }
         31%{
            left: 20%;
           opacity: 1;
         }
         48%{
            left: 71%;
             opacity: 1;
         }
         49%{
            left: 71%;
             opacity: 0;
         }
         to {
             left: 71%;
             opacity: 0;
         }
     }
     .text-1lca{
        width: 51.5%;
        position: absolute;
        top: 1vw;
        left: 24.4%;
        animation: zoomIn1  linear forwards 10s;
     }
     .text-2lca{
        width: 48%;
        position: absolute;
        top: 6.5vw;
        left: 26%;
     }
     .vang-1{
        animation: vang-1 linear forwards 10s;
        right: 19%;
        top: 13vw;
        z-index: 9;
        width: 11.5%;
     }
     .inner-vang-1{
       animation: inner-vang-1 linear infinite 1s;
     }
     @keyframes vang-1 {
         from {
           opacity: 0;
             right: 28%;
             top: 29vw;
             width: 2%;
         }
         22%{
             opacity: 0;
             right: 28%;
             top: 29vw;
             width: 2%;
         }
         27%{
           opacity: 1;
            right: 1.5%;
            top: 26vw;
            width: 25%;
         }
        
         100%{
           opacity: 1;
            right: 1.5%;
            top: 26vw;
            width: 25%;
         }
     }
     @keyframes inner-vang-1 {
          0%{
             transform:scale3d(1,1,1);
          }
         10%,20%,30%,40%,50%,60%,70%,80%,90%{
           transform:scale3d(1.06,1.06,1.06);
         }
         5%,15%,35%,45%,55%,65%,75%,85%,95%{
           
            transform:scale3d(.94,.94,.94);
         }
         100%{
            transform:scale3d(1,1,1);
         }
     }
     @keyframes inner-vang-1 {
         0% {
          transform:scale3d(1.06,1.06,1.06);
         }

         10% {
          transform:scale3d(.94,.94,.94); 
         }

         20% {
            transform:scale3d(1.06,1.06,1.06);
         }

         30% {
            transform:scale3d(.94,.94,.94); 
         }

         40% {
            transform:scale3d(1.06,1.06,1.06); 
         }
         50%{
            transform:scale3d(.94,.94,.94);
         }
         60%{
            transform:scale3d(1.06,1.06,1.06);
         }
         70%{
            transform:scale3d(.94,.94,.94);
         }
         80%{
            transform:scale3d(1.06,1.06,1.06);
         }
         90%{
            transform:scale3d(.94,.94,.94);
         }
         100%{
            transform:scale3d(1.06,1.06,1.06);
         }
     }
     .vang-2{
        animation: vang-2 linear forwards 10s;
     }
     @keyframes vang-2 {
         from {
             right: 28%;
             top: 30vw;
             width: 4%;
             opacity: 0;
         }
         22% {
           opacity: 0;
             right: 28%;
             top: 30vw;
             width: 4%;
         }
         27%{
           opacity: 1;
            right: 12%;
            top: 21vw;
            width: 16%;
         }
        
         100%{
             opacity: 1;
            right: 12%;
            top: 21vw;
            width: 16%;
         }
         
     }
     .vang-2-2{
        animation: vang-2-2 linear forwards 10s;
        position: absolute;
     }
     @keyframes vang-2-2 {
         from {
             right: 56%;
             top: 26vw;
             width: 2%;
             opacity: 0;
         }
         22% {
           opacity: 0;
             right: 56%;
             top: 26vw;
             width: 2%;
         }
         27%{
           opacity: 1;
            right: 41%;
            top: 17vw;
            width: 8%;
         }
        
         100%{
           opacity: 1;
            right: 41%;
            top: 17vw;
            width: 8%;
         }
         
     }
     .vang-3{
        animation: vang-3 linear forwards 10s;
        transform: rotate(-15deg);
     }
     @keyframes vang-3 {
         from {
             left: 20%;
             top: 35vw;
             width: 0%;
             opacity: 0;
         }
         22% {
           opacity: 0;
             left: 20%;
             top: 35vw;
             width: 0%;
         }
         27%{
           opacity: 1;
            left: 6%;
            top: 18vw;
            width: 17%;
         }
         30%,40%,50%,60%,70%,80%,90%,100%{
            opacity: 1;
            left: 6%;
            top: 18vw;
            width: 18%;
         }
         35%,45%,55%,65%,75%,85%,95%{
          opacity: 1;
            left: 6.5%;
            top: 18vw;
            width: 17%;
         }
        /* 100%{
            left: 6%;
            top: 19%;
            width: 17%;
         }*/
         
     }
     
     .text-3lca{
        width: 34%;
        position: absolute;
        top: 12.5vw;
        left: 33%;
        animation: zoomIn3 linear forwards  10s;
     }
     @keyframes inner-vang {
         0% {
          transform:scale3d(1.1,1.1,1.1);
         }

         10% {
          transform:scale3d(.9,.9,.9); 
         }

         20% {
            transform:scale3d(1.1,1.1,1.1);
         }

         30% {
            transform:scale3d(.9,.9,.9); 
         }

         40% {
            transform:scale3d(1.1,1.1,1.1); 
         }
         50%{
            transform:scale3d(.9,.9,.9);
         }
         60%{
            transform:scale3d(1.1,1.1,1.1);
         }
         70%{
            transform:scale3d(.9,.9,.9);
         }
         80%{
            transform:scale3d(1.1,1.1,1.1);
         }
         90%{
            transform:scale3d(.9,.9,.9);
         }
         100%{
            transform:scale3d(1.1,1.1,1.1);
         }
     }
}
@media screen and (max-width: 768px){
  .text-1lca{
    width: 81%;
    top: 3.8vw;
  }
  .light-3l29{
    display: none;
  }
  .text-1damb{
    display: block;
    z-index: 1;
    position: absolute;
    top: 57vw;
    left: 10%;
    width: 80%;
    animation: qtq linear forwards 10s;
  }
  @keyframes  qtq{
      0%{
        opacity:0;
        transform:scale3d(.3,.3,.3);
      }
      12%{
        opacity:0;
        transform:scale3d(.3,.3,.3);
      }
      15%{
        opacity:1;
        transform:scale3d(1,1,1);
      }
      57%{
        opacity:1;
        transform:scale3d(1,1,1);
      }
      100%{
        opacity:1;
        transform:scale3d(1,1,1);
      }
  }
  .text-2lca{
    animation: zoom-text-2 linear forwards 10s;
  }
  @keyframes  zoom-text-2{
      0%{
        opacity:0;
        transform:scale3d(.3,.3,.3);
      }
      16%{
        opacity:0;
        transform:scale3d(.3,.3,.3);
      }
      19%{
        opacity:1;
        transform:scale3d(1,1,1);
      }
      57%{
        opacity:1;
        transform:scale3d(1,1,1);
      }
      100%{
        opacity:1;
        transform:scale3d(1,1,1);
      }
  }
  .text-3lca{
     animation: zoom-text-3 linear forwards 10s;
  }
  @keyframes  zoom-text-3{
      0%{
        opacity:0;
        transform:scale3d(.3,.3,.3);
      }
      20%{
        opacity:0;
        transform:scale3d(.3,.3,.3);
      }
      23%{
        opacity:1;
        transform:scale3d(1,1,1);
      }
      57%{
        opacity:1;
        transform:scale3d(1,1,1);
      }
      100%{
        opacity:1;
        transform:scale3d(1,1,1);
      }
  }
  @keyframes voucher {
      from {
          left: 23vw;
          top: 38vw;
          width: 1%;
          opacity: 0;
      }
      25% {
        opacity: 0;
          left: 23vw;
          top: 38vw;
          width: 1%;
      }
      29%{ 
         left: 14vw;
         top: 38.5vw;
         width: 18%;
         opacity: 1;
      }
      30%,40%,50%,60%,70%,80%,90%,100%{
        opacity: 1;
         left: 14vw;
         top: 38.5vw;
         width: 16%;
      }
      35%,45%,55%,65%,75%,85%,95%{
         opacity: 1;
         left: 14vw;
         top: 38.5vw;
         width: 18%;
      }
  }
  .text-hl{
    font-family: "Montserrat", sans-serif;
    top: 138vw;
    position: absolute;
    color: #FFF;
    font-weight: 300;
    left: 10%;
    z-index: 1;
    font-size: 2.32vw;
  }
}

